.b1{
    width: 50%;
    background-color: blue;
    float: left;
    height: 300px;
}
.b1 h1{
    font-size: 30px;
    color: aliceblue;
    margin: 115px 0px 7px 225px;
}
.b2 h1{
    font-size: 30px;
    color: aliceblue;
    margin: 115px 0px 7px 225px;
}
.b3 h1{
    font-size: 60px;
    color: aliceblue;
    margin: 65px 0px 7px 600px;
}
.b2{
    width: 50%;
    background-color: rgb(135, 135, 192);
    float: right;
    height: 300px;
}
.b3{
    width: 100%;
    background-color: rgb(192, 135, 166);
     overflow: auto;
    height:200px;
}